.map-container {
    display: inline-flex;
}

.map-container aside {
    width: 440px;
    height: 100vh;

    background: var(--gradient-background);
}

.map-container aside .happy-point {
    margin-top: 80px;
    margin-left: 70px;

    height: 70px;
    width: 60px;
}

.map-container aside h1 {
    color: var(--color-white);
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 46px;
    line-height: 45px;
    max-width: 350px;
    user-select: none;

    margin-top: 80px;
    margin-left: 70px;
}

.map-container aside h4 {
    color: var(--color-white);
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 18px;
    max-width: 290px;
    margin-top: 40px;
    margin-left: 70px;
}

.map-container aside .location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: var(--color-white);

    position: relative;

    margin-left: 70px;

    margin-top: 120px;
}
.map-container aside .location strong {
    font-size: 22px;
}

.map-container section {
    width: calc(100vw - 440px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .map-container section {
        width: 100vw;
    }

    .map-container aside {
        display: none;
    }
}

@media screen and (max-height: 650px) {
    .map-container aside h4 {
        display: none;
    }

    .map-container aside .location {
        margin-top: 80px;
    }
}

@media screen and (max-height: 530px) {
    .map-container aside .location {
        display: none;
    }

    .map-container aside {
        padding: 20px;
    
        display: inline-flex;

        justify-content: space-between;
        align-items: center;
    }

    .map-container aside .happy-point {
        margin: 0 20px 0 0;
    }

    .map-container aside h1 {
        font-size: 32px;
        margin: 0;
    }
}