.map-container {
    display: inline-flex;
}

.map-container aside {
    width: 440px;
    height: 100vh;

    background: var(--gradient-background);
}

.map-container aside .happy-point {
    margin-top: 80px;
    margin-left: 70px;

    height: 70px;
    width: 60px;
}

.map-container aside h1 {
    color: var(--color-white);
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 46px;
    line-height: 45px;
    max-width: 350px;
    user-select: none;

    margin-top: 80px;
    margin-left: 70px;
}

.map-container aside h4 {
    color: var(--color-white);
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 18px;
    max-width: 290px;
    margin-top: 40px;
    margin-left: 70px;
}

.map-container aside .location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: var(--color-white);

    position: relative;

    position: absolute;
    bottom: 40px;
    left: 70px;
}
.map-container aside .location strong {
    font-size: 22px;
}

.map-container section {
    width: calc(100vw - 440px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 5;
}

.map-container .create-btn {
    position: absolute;

    right: 40px;
    bottom: 40px;

    background: var(--color-primary);
    border-radius: 20px;

    height: 64px;
    width: 64px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10;

    transition: .3s;
}

.map-container .create-btn:hover {
    background: var(--color-primary-light);
}

.map-container .create-btn .plus-icon {
    color: var(--color-white);
}

.map-container .popup .leaflet-popup-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.map-container .popup .leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.16);
    border-radius: 20px;
}

.map-container .popup span {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;

    margin-right: 10px;

    color: var(--text-title);
}

.map-container .popup .orphanage-btn {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 8px;
    background: var(--color-primary);

    transition: .3s;
}

.map-container .popup .orphanage-btn:hover {
    background: var(--color-primary-light);
}

.map-container .popup .orphanage-btn .arrowR-icon {
    color: var(--color-white);
}

@media screen and (max-width: 800px) {
    .map-container section {
        width: 100vw;
    }

    .map-container aside {
        display: none;
    }
}

@media screen and (max-height: 650px) {
    .map-container aside h4 {
        display: none;
    }
}

@media screen and (max-height: 530px) {
    .map-container aside .location {
        display: none;
    }

    .map-container aside {
        padding: 20px;
    
        display: inline-flex;

        justify-content: space-between;
        align-items: center;
    }

    .map-container aside .happy-point {
        margin: 0 20px 0 0;
    }

    .map-container aside h1 {
        font-size: 32px;
        margin: 0;
    }
}